# VS-Code files
.history/
.devcontainer/

# Claude Code files
CLAUDE.md

.DS_Store
Thumbs.db
# /fsh-generated
/input-cache
/output
/temp
/template
validator_cli.jar
_gencontinuous.*
fsh-generated/resources/ImplementationGuide-mii-ig-modul-patho.json
